#root {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: #e0e0e0; 
  color: #333; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
}

.navbar a,
.navbar span {
  padding: 0.5em 1em;
  min-width: 160px;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s, color 0.2s;
  border-radius: 6px;
  text-align: center;
}

.navbar a:hover {
  background-color: #e0e0e0; 
  color: #000;
}


.navbar button {
  cursor: pointer;
}
