#root {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  width: 100%;
  a, span {
    padding: 0.5em 1em;
    min-width: 160px;
  }
}

.navbar a {
  text-decoration: none;
  color: #333;
}

.navbar button {
  cursor: pointer;
}
